<div ng-controller="MainCtrl">
  <div class="header">

    <h1>ABOUT</h1>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Gallery</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Angular Gallery of Art</h3>
</div>

<div class="jumbotron">
  <h1>Art of The Matter</h1>
  <p class="lead">
    <img src="images/lonelyqueen.jpg" alt="I'm The Grim Reaper"><br>
  </p>
  <p><a class="btn btn-default btn-lg active" ng-href="#/order-create">On To Shop<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
</div>

<div class="row marketing">
<div ng-controller="ArtController as store">

<h4>GALLERY NAVIGATION</h4>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li><a ng-href="#/productsDetail">Art Description and Pricing</a></li>
    <li><a ng-href="#/orderCreate">Add to Cart</a></li>
    <li><a ng-href="#/customerReviews">Client Reviews</a></li>
    <li><a ng-href="#/orderSummary">My Order</a></li>
    <li><a ng-href="#/orderSummaryEdit">Edit My Order</a></li>
    
<!-- MUST ADD IN TOTAL AND CHECKOUT - FOLD IT INTO EITHER ORDER SUMMARY OR ORDER SUMMARY EDIT IF YOU CAN.  ALSO, MUST ADD CLIENT REVIEWS PAGE  - MAYBE ADD THIS FUNCTIONALITY INTO THE INDIVIDUAL PRODUCT DETAILS PAGES....ADD DYNAMICALLY VIA ANGULAR - MAYBE CLICK ON FINGERNAIL FOR BOTH DESCRIPTION AND TO THEN ADD A REVIEW OF THE PIECE OF ART. -->
    <!-- <li><a ng-href="#/shop-list">Total and Checkout</a></li> -->

  </ul>
  <h4>ARTIST IN RESIDENCE</h4>
  <img src="images/lonelyqueen.jpg" alt="I'm The Grim Reaper"><br>
 
  <br>GIVE ME SOME SPACE</br>

  <h4>Up And Coming</h4>
  <img src="images/fieryumbrellamodel.jpg" alt="I'm The Grim Reaper"><br>
  

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>