<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Art of The Matter</h1>
  <p class="lead">
    <img src="images/aftershowernyc.jpg" alt="I'm The Grim Reaper"><br>
  </p>
  <p><a class="btn btn-default btn-lg active" ng-href="#/order-create">On To Shop<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
</div>
<h4>GALLERY NAVIGATION</h4>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/products">Art</a></li>
    <li><a ng-href="#/productsDetail">Art Description and Pricing</a></li>
    <li><a ng-href="#/orderCreate">Add to Cart</a></li>
    <li><a ng-href="#/">Client Reviews</a></li>
    <li><a ng-href="#/orderSummary">My Order</a></li>
    <li><a ng-href="#/orderSummaryEdit">Edit My Order</a></li>
  </ul>
  <h4>Tell Us What You Think</h4>
  <img src="images/kissingthelipless.jpg" alt="I'm The Grim Reaper"><br>
 

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>