<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Kackie Angular Project DAY THREE</h3>
</div>

<div class="jumbotron">
  <h1>Art of The Matter</h1>
  <p class="lead">
    <img src="images/grimreapermodel.jpg" alt="I'm The Grim Reaper">
  </p>
    
<br>GIVE ME SOME SPACE</br>
  
  <p><a class="btn btn-default btn-lg active" ng-href="#/order-create">On To Gallery<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
  <p><a class="btn btn-default btn-lg active" ng-href="#/blog">Art Blog<span class="glyphicon glyphicon-eye-open-eye"></span></a></p>
</div>

<div class="row marketing">

  <h4>ARTIST IN RESIDENCE</h4>
  <img src="images/lonelyqueen.jpg" alt="I'm The Grim Reaper"><br>
 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sint, esse, minima, at magnam aspernatur eveniet nihil vel molestias magni voluptas fugiat illo culpa sed impedit nulla tempora rem corporis.</p>

  <h4>Up And Coming</h4>
  <img src="images/fieryumbrellamodel.jpg" alt="I'm The Grim Reaper"><br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, eos, pariatur aliquid consectetur quae ad iure facere dolorum minus quis quasi non labore ullam ipsa omnis doloremque consequatur vel eaque.
  </p>

  <h4>Sneak Preview @ THEKACKIEPROJECT</h4>
  <img src="images/aftershowernyc.jpg" alt="I'm The Grim Reaper"><br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, culpa quia qui repellat perspiciatis nihil quasi! Saepe, nostrum eveniet quo fugit aut voluptatibus nisi minima maiores. Quidem in deleniti qui.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>