<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Kackie Angular Project DAY THREE</h3>
</div>

<div class="jumbotron">
  <h1>Art of The Matter</h1>
  <p class="lead">
    <img src="images/grimreapermodel.jpg" alt="I'm The Grim Reaper">
  </p>
    
<br>GIVE ME SOME SPACE</br>
  
  <p><a class="btn btn-default btn-lg active" ng-href="#/order-create">On To Gallery<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
  <p><a class="btn btn-default btn-lg active" ng-href="#/blog">Art Blog<span class="glyphicon glyphicon-eye-open-eye"></span></a></p>
</div>

<div ng-controller="ProductCtrl" class="row marketing">

<ul ng-repeat="product in products">
  <li><h4>{{product.name}}</h4></li>
  <li><img ng-src="{{product.image}}"></img</li>
  <li><p>{{product.description}}</p></li>
</ul>
</div>

  <h4>ARTIST IN RESIDENCE</h4>
  <img src="images/lonelyqueen.jpg" alt="I'm The Grim Reaper"><br>
 
  <br></br>

  <h4>Up And Coming</h4>
  <img src="images/fieryumbrellamodel.jpg" alt="I'm The Grim Reaper"><br>
  
  <br></br>

  <h4>Sneak Preview @ THEKACKIEPROJECT</h4>
  <img src="images/aftershowernyc.jpg" alt="I'm The Grim Reaper"><br>
  
  <br></br>

  
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>