THIS IS YOUR ORDER SUMMARY FROM ART OF THE MATTER.....

<br></br>
IF YOU SEE MICK WE'RE STILL A WORK IN PROGRESS!

<div class="header">
    <h3 class="text-muted">KACKIE ANGULAR PROJECT</h3>
  <nav class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  
  </div>
<br></br>

<img src="images/youngmick.jpg" alt="I'm The Grim Reaper">

<br>GIVE ME SOME SPACE</br>
<input type="text" data-ng-model="post.title" value="{{post.title}}">
<textarea data-ng-model="post.content">{{post.content}}</textarea>
<button data-ng-click="edit()">Update Post</button>




<!-- <div ng-controller="newPageContrl">
	
	
</div> -->