YOU'RE CREATING A NEW ORDER FROM THE ART OF THE MATTER

<br></br>
IF YOU SEE MICK WE'RE STILL A WORK IN PROGRESS!

<div class="header">
    <h3 class="text-muted">KACKIE ANGULAR PROJECT</h3>
  <nav class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#">My Order</a></li>
  </ul>
  
  </div>
<br></br>

<img src="images/youngmick.jpg" alt="I'm The Grim Reaper">

<br>GIVE ME SOME SPACE</br>



<section>
	<h1>{{post.title}}</h1>
	<p>{{post.content}}</p>
	<a href="#/blog/{{post._id}}/edit">Edit</a> | <a ng-click="delete()">Delete</a>
</section>

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>