YOU'RE LOOKING AT OUR PRODUCTS/ART PIECES...
<br></br>
IF YOU SEE MICK WE'RE STILL A WORK IN PROGRESS!

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#/customerReviews">Client Reviews</a></li>
  </ul>
  <h3 class="text-muted">Kackie Angular Project DAY THREE</h3>
</div>

<br>GIVE ME SOME SPACE</br>

<img src="images/youngmick.jpg" alt="I'm The Grim Reaper">

<br>GIVE ME SOME SPACE</br>

<h4>GALLERY NAVIGATION</h4>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/">Art</a></li>
    <li><a ng-href="#/productsDetail">Art Description and Pricing</a></li>
    <!-- THIS IS WHERE THE PRODUCTS SHOULD BE LISTED - IN A FORM - EACH PRODUCT WITH AN TITLE/IMAGE/DESCRIPTION/PRICE and AN ADD TO CART BUTTON -->
	<!--Will doing this will mean I don't need a 'productsDetail.html file, only INDIVIDUAL PRODUCT productDetail.html file??'  -->
    <li><a ng-href="#/orderCreate">Add to Cart</a></li>
    <li><a ng-href="#/orderSummary">My Order</a></li>
    <li><a ng-href="#/orderSummaryEdit">Edit My Order</a></li>
    <!-- INSTEAD OF HAVING AN orderSummaryEdit.html page EDITING A CUSTOMER'S ORDER SHOULD BE EITHER A BUTTON or THE CHECKOUT PAGE WITH PAYPAL -->
  </ul>



<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>