
  <!-- <div class="header">
  <nav class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Kackie Angular Project DAY THREE</h3>
  </div> -->
 
<input type="text" data-ng-model="post.title">
<textarea data-ng-model="post.content"></textarea>
<button data-ng-click="newPost(post)">Add To Cart</button>


<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>